body {
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr;
    font-family: "Roboto";
    min-height: 100vh;
}


.header {
    grid-column: 1 / span 3;
    background-color: white;
    padding:16px;
}

.header .logo-box {
    display: flex;
    gap: 4px;
}

.logo-box img {
    width: 32px;
}

.main {
    padding: 24px;
}

.all-books {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 24px;
    border-radius: 8px;
}

.spot {
    min-height: 215px;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.filled-spot {
    order: 2
}

.empty-spot {
    order: 99;
}

.empty-space {
    padding:16px;
    border-radius: 4px;
    border: 2px black dashed;
    height: 100%;
}

#add-button {
    width: 100%;
    height: 100%;
    background-color: #E2E8F0;
    font-size: 32px;
}


.shelve {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 24px;
}

.shelve-space {
    padding: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: grid;
}

.cover {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fafbff;
    padding: 8px;
    border-right: 1px #fafbff solid;
    border-bottom: 1px #fafbff solid;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    color: black;
    text-align: center;
}

.title {
    font-family: "Yellowtail";
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: normal;
}

.caption {
    font-weight: bold;
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.65rem;
    text-transform: capitalize;
    color:#6f7275;
    padding: 8px;
}

.caption-title {
    font-weight: bold;
    font-size: 0.8rem;
    color: black;
}

dialog {
    border: none;
    background-color: #01215c;
    color: white;
    padding: 24px;
    border-radius: 8px;
}

dialog::backdrop {
    background-color: white;
    opacity: 0.7;
}

#add-book form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 48px;
}

form > label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: min(50vw, 300px);
}

form > h3 {
    align-self: center;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


input, textarea{
    padding: 4px;
    border-radius: 4px;
    color:#6f7275
}

input:focus, textarea:focus {
    border: 2px solid #2F88FF;
    outline: none;
}

input:user-invalid, textarea:user-invalid {
    border:2px solid red;
}

textarea {
    resize: none;
}

form > button {
    padding: 8px;
    border-radius: 4px;
    align-self: center;
    background-color: #2F88FF;
    color: white;
    font-weight: bold;
}

.asterisk, input[type="radio"] {
    color:red;
    accent-color: red;
}

.close-button {
    color: red;
    width: 2rem;
    font-size: 1.5em;
    background-color: inherit;
    display: block;
    margin-left: auto;
}

#book-dialog .container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


#easel {
    width: 150px;
    height: 210px;
    margin: 0 auto;
}

#caption-display {
    text-align: center;
}

#caption-display > .caption-title {
    color: white;
}

#meta-data {
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    margin-bottom: 4px;
    display: flex;
    gap: 4px;
}

#summary-box {
    width: 30ch;
    color: whitesmoke;
    font-size: 0.8rem;
    text-align: center;
}

#delete {
    color: white;
    padding: 8px;
    font-size: 1rem;
    background-color: red;
    border-radius: 4px;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yellowtail';
    src: url('./fonts/Yellowtail-Regular.woff2') format('woff2'),
        url('./fonts/Yellowtail-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* #2F88FF */