@font-face {
    font-family: 'Yellowtail';
    src: url('Yellowtail-Regular.woff2') format('woff2'),
        url('Yellowtail-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

